@reference "../../app/globals.css";

.wrapper {
  @apply flex h-screen flex-col overflow-hidden bg-[#332d2b];
}

.overlay {
  @apply fixed inset-0 z-30 bg-black/50 transition-opacity duration-200 lg:hidden;
}

.overlayVisible {
  @apply opacity-100;
}

.overlayHidden {
  @apply pointer-events-none opacity-0;
}

.main {
  @apply flex min-h-0 flex-1 flex-col bg-transparent pb-16 pl-0 transition-[padding] duration-200 lg:pb-0 lg:pl-44;
}

.contentInner {
  @apply flex min-h-0 flex-1 flex-col overflow-y-auto bg-white p-4 pb-8 sm:p-5 sm:pb-8 md:p-6 md:pb-10;
  @apply lg:my-4 lg:mr-4 lg:max-h-[calc(100vh-2rem)] lg:overflow-hidden lg:rounded-2xl lg:px-8 lg:py-10 lg:shadow-[0_2px_12px_rgba(0,0,0,0.06)];
}

.menuBtnFloat {
  @apply fixed left-4 top-4 z-10 rounded-lg bg-gray-800 p-2.5 text-white shadow-lg hover:bg-gray-700 lg:hidden;
}
