@reference "../../app/globals.css";

.aside {
  @apply fixed left-0 top-0 z-20 h-screen  rounded-l-xl shadow-[2px_0_12px_rgba(0,0,0,0.2)] transition-transform duration-200 ease-out;
  background-color: #150601;

  @media (min-width: 1024px) {
    @apply translate-x-0;
  }
}

.asideOpen {
  @apply translate-x-0;
}

.asideClosed {
  @apply -translate-x-full;

  @media (min-width: 1024px) {
    @apply translate-x-0;
  }
}

.inner {
  @apply flex h-full flex-col;
}

.logoSection {
  @apply flex shrink-0 justify-center px-4 pt-6 text-white;
}

.sidebarLogo {
  @apply size-10 shrink-0 text-inherit;
}

.nav {
  @apply flex flex-1 flex-col gap-2 overflow-y-auto justify-center;
}

.link {
  @apply relative flex flex-col items-center justify-center rounded-xl py-3 text-center text-xs text-white transition-colors;

  &:hover {
    @apply text-white/90;
  }
}

.linkMain {
  @apply max-lg:hidden;
}

.linkActive {
  @apply font-semibold text-white bg-[#3A140C];

  &:hover {
    @apply text-white;
  }

  &::after {
    content: "";
    @apply absolute right-0 top-1/2 h-9 w-0.5 -translate-y-1/2 rounded-full bg-white;
  }
}

.icon {
  @apply size-5 shrink-0 text-inherit;
}

.iconActive {
  @apply text-white;
}

.linkLabel {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.bottom {
  @apply flex shrink-0 flex-col gap-2;
}

.bottomLink {
  @apply relative flex flex-col items-center justify-center gap-1.5 rounded-xl border-none px-3 py-3 text-center text-xs font-medium transition-colors;

  &:hover {
    @apply text-white/90;
  }
}

.bottomLinkActive {
  @apply font-semibold text-white;

  &:hover {
    @apply text-white;
  }

  &::after {
    content: "";
    @apply absolute right-0 top-1/2 h-9 w-0.5 -translate-y-1/2 rounded-full bg-white;
  }
}

.bottomIcon {
  @apply size-5 shrink-0 text-inherit;
}

.bottomIconActive {
  @apply text-white;
}

.logoutLink {
  @apply mt-3 flex flex-col items-center justify-center gap-1.5 rounded-xl border-none bg-transparent px-3 py-3 text-center text-xs font-medium text-white cursor-pointer font-[inherit];

  &:hover {
    @apply text-white/90;
  }
}

.logoutIcon {
  @apply size-5 shrink-0 text-inherit;
}
